{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Liste des Catégories</h1>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <a href="{{ path('category_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}
