{% extends 'base.html.twig' %}

{% block title %}Succès{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <h1>Inscription réussie !</h1>
    <p>Votre compte a bien été créé. Vous pouvez maintenant vous connecter.</p>
    <a href="{{ path('app_login') }}" class="btn btn-success">Se connecter</a>
</div>
{% endblock %}
